@tailwind base;
@tailwind components;
@tailwind utilities;

.ReactModal__Overlay {
    z-index: 100;
  }

  .control-arrow {
    background-color: #002d56 !important;
    border-radius: 20px;
    height: 90%;
    top: 10px !important;
}