@tailwind base;
@tailwind components;
@tailwind utilities;

.control-arrow {
    background-color: #002d56 !important;
    border-radius: 20px;
    height: 90%;
    top: 10px !important;
}


/* Estilizando a barra de rolagem para navegadores baseados em WebKit */
::-webkit-scrollbar {
    width: 5px; /* Largura da barra de rolagem vertical */
    height: 12px; /* Altura da barra de rolagem horizontal */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor do fundo da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas do fundo da barra de rolagem */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; /* Cor do "polegar" da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas do "polegar" da barra de rolagem */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor do "polegar" da barra de rolagem ao passar o mouse */
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
  }
  
 